body {
    color: white;    
    background: rgb( 83, 44, 119);
    margin: 0px;
    font-family: "Playfair Display", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 3px rgb(188, 194, 246);
    padding: 20px;
    font-size: 32px;
    color: rgb(188, 194, 246);
}

.chamada {
    background: rgb(11, 2, 75);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p {
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid green;
}

.categoria h2 {
    color: rgb(188, 194, 246);
}